@import "tailwindcss";
@tailwind utilities;

html, body {
  overscroll-behavior: none; /* prevents scroll bounce */
  overflow-x: hidden;         /* prevents horizontal scroll */
  
}
html {
  scroll-behavior: smooth;
}
